#news,#behalf{width: 1205px;margin: 0 auto;}
/*-----------------------------------banner---------------------------*/
#banner{
	width: 100%;
	height: 425px;
	position: relative;
	overflow: hidden;
}
#banner ul{position: absolute;}
#banner ul li{float: left;}
#banner ul li img{height: 425px; width: 1350px;}
#dir > .prev{
	position: absolute;
	width: 45px;
	height: 45px;
	background: #666666;
	opacity: 0.7;
	top: 50%;
	border-radius: 50%;
	left:0;
	text-align: center;
	font-size: 36px;
	line-height: 40px;
	color: #fff;
} 
#dir > .next{
	position: absolute;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: #666666;
	opacity: 0.7;
	top: 50%;
	right:0;
	text-align: center;
	font-size: 36px;
	line-height: 40px;
	color: #fff;
	z-index: 999;
} 
#circle{position:absolute;left: 50%;bottom: 20px;}
#circle >a{
	float: left;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: black;
	margin-left: 15px;
}
#circle >.active{background: gray;}
/*----------------------------------news-------------------------------*/
#news_warp{background: #f5f5f5;}
#news{
	height: 395px;
	background: #f5f5f5;
}
#news .news-left{
	width: 245px;
	height: 345px;
	margin-top: 15px;
	float: left;
	border: 1px solid #e6e6e6;
	background: #FFFFFF;
}
.news-left h4{
	height: 30px;
	line-height: 30px;
	color: #333333;
	font-size: 16px;
	text-indent: 15px;
	background: #f5f5f5;
}
.news-left .left-news{height: 315px;}
.left-news li a{
	display: block;
	font-size: 12px;
	width: 200px;
	height: 20px;
	line-height: 20px;
	margin-top: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #666666;
	text-indent: 15px;
}
.left-news li a:hover{
	color: red;
	text-decoration: underline;
}


#news .news-right{
	width: 940px;
	height: 365px;
	margin: 15px 0 0 10px;
	float: right;
	border: 1px solid #e6e6e6;	
}
.news-right strong{
	color: #333333;
	font-size: 14px;
	text-indent: 15px;
	margin-top: 5px;
}
.news-right .right-pic{
	width: 100%;
	height: 305px;
	margin-top: 20px;
}
.right-pic .pic-one{
	width: 220px;
	height: 303px;
	border: 1px solid #f2f2f2;
	margin-left: 10px;
	float: left;
	background: #FFFFFF;
}
.pic-one img{
	width: 220px;
	height: 205px;
}
.pic-one p{
	font-size: 12px;
	width:150px;
	margin-top: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-indent: 10px;
	text-overflow: ellipsis;
}
.pic-one h5{
	color: #e31436;
	font-size: 14px;
	margin-top: 10px;
	font-weight: bold;
	text-indent: 10px;
}
.pic-one .price{
	display: inline-block;
	margin-top: 10px;
	font-size: 12px;
	text-indent: 10px;
	text-decoration: line-through;
	color: gray;
}
.pic-one #btn{
	width: 60px;
	height: 25px;
	line-height: 25px;
	margin-left: 90px;
	font-size: 12px;
	text-align: center;
	border: 1px dotted #e31436;
	cursor: pointer;
	background: #fff;
	color: #e31436;
	font-weight: bold;
}
.pic-one:hover{
	border-color: #e31436;
}
.pic-one #btn:hover{
	background: #e31436;
	color: #fff;
}

/*-----------------------behalf--------------------------------*/
#behalf_warp{
		background: #f5f5f5; 
		min-height: 400px; 
		overflow: hidden;
		border-bottom: 2px solid #d1d7dc;
}
#behalf{
	height: 410px;
	background: #f5f5f5;
}
#behalf h3{
	display: inline-block;
	height: 55px;
	line-height: 55px;
	font-size: 20px;
	font-weight: bold;
	color: #000;
	text-indent: 15px;
}
#behalf .behalf-a{
	float: right;
	height: 55px;
	line-height: 55px;
	font-size: 12px;
	margin-right:10px;
	font-weight: bold;
}
#behalf .behalf-a:hover{
	text-decoration: underline;
}
#behalf .behalf-pic{
	width: 100%;
	height: 305px;
}
.behalf-pic .pic-two{
	width: 225px;
	height: 303px;
	border: 1px solid #f2f2f2;
	margin-left: 12px;
	float: left;
	background: #FFFFFF;
}
.pic-two img{
	width: 225px;
	height: 200px;
}
 .pic-two p{
	font-size: 12px;
	width: 180px;
	margin-top: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-indent: 10px;
	text-overflow: ellipsis;
}
.pic-two h5{
	color: #e31436;
	font-size: 14px;
	margin-top: 10px;
	font-weight: bold;
	text-indent: 10px;
}
.pic-two .price{
	display: inline-block;
	margin-top: 10px;
	font-size: 12px;
	text-indent: 10px;
	text-decoration: line-through;
	color: gray;
}
.pic-two #btn{
	width: 60px;
	height: 25px;
	line-height: 25px;
	margin-left: 90px;
	font-size: 12px;
	text-align: center;
	border: 1px dotted #e31436;
	cursor: pointer;
	background: #fff;
	color: #e31436;
	font-weight: bold;
}
.pic-two:hover{
	border-color: #e31436;
}
.pic-two #btn:hover{
	background: #e31436;
	color: #fff;
}


#Louti{
	position: fixed;
	top: 35%;
	left: 40px;
	width:30px;
	border: 1px solid ;
}
#Louti ul li{
	position:relative;
	width:30px;
	height:30px;
	text-align:center;
	line-height: 30px;
	font-size: 12px;
	cursor: pointer;
	border-bottom: 1px dotted #AAAAAA;
}
#Louti ul li span{
	display: none;
	width:30px;
	height: 30px;
	position: absolute;	
	top: 0;
	left: 0;
	color:red;
}
#Louti ul li:hover span{
	display: block;
	background: darkred;
	color: white;
}
#Louti ul li span.active {
	display: block;
	background: white;
	color: red;
}
#Louti ul li:hover span.active{
	display: block;
	background: darkred;
	color: white;
}